.bg-img1 {
  background-image: url(sl1.jpg);
  background-size: cover;
}
.bg-img2 {
  background-size: cover;
  background-image: url(sl2.jpg);
}
.bg-img3 {
  background-size: cover;
  background-image: url(sl3.jpg);
}
